# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User Files
MDK-ARM/nucleo-f303k8-i2c-fram
MDK-ARM/EventRecorderStub.scvd
MDK-ARM/JLinkLog.txt
MDK-ARM/JLinkSettings.ini
MDK-ARM/nucleo-f303k8-i2c-fram.uvguix.*
MDK-ARM/startup_stm32f303x8.lst
*.bak
*.orig
*~
